*{
    margin: 0;
    box-sizing: border-box;
}

body{
    padding:0px 150px;
    margin: 0;
    line-height: 1.8em;
    word-spacing: 0.2em;
    background-color: #ffccaa;
    font-size: 18px;
}
h1{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:20px 0px;
    font-size: 2em;
    font-family:'Gill Sans', sans-serif;
}
.box{
    justify-content:left;
    align-items:left;
    margin: 20px 0px;
}
button{
    padding:10px;
    width: 100px;
    background:#fafafa;
    border:#1b0a0a 2px solid;
    text-transform: uppercase;
    border-radius: 30px;

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body{
        padding:10px 15px;
        margin: 0;
        line-height: 1.8em;
        word-spacing: 0.2em;
        background-color: #ffccaa;
        font-size: 16px;
    }
}